.App {
  text-align: center;
  margin-bottom: 5rem;
}

.embiggen {
  font-size: 5rem;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  margin-top: 10rem;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 60s linear;
  }
  .fast-spin {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  height: 10rem;
}

.flex {
  display: flex;
  justify-content: space-around;
}

.divider-bar {
  border: 1px solid gray;
  width: 200px;
  margin: auto;
}

pre {
  margin: auto;
  padding: 3rem;
  width: 50%;
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */  
}